


body {
    background-color:lightcoral;
    font-family: "Times New Roman", serif;
    
  }
  
  main {
    margin: 20px;
    padding: 20px;
  }
  
  header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  section {
    background-color: #fff;
    padding: 20px;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #c0392b;
  }
  
  ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  ol {
    list-style: none;
    counter-reset: step-counter;
    margin-bottom: 20px;
  }
  
  ol li {
    counter-increment: step-counter;
    margin-bottom: 10px;
  }
  
  ol li:before {
    content: counter(step-counter) ". ";
  }
  
  footer {
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  